{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ form_start(form) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary rigel">Confirmer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_categories') }}" class="btn btn-danger right-align">Annuler</a>

{% endblock %}
